@import '../../assets/style_utils/mixins';

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    max-width: 704px;
  }

  @include onDesktop {
    max-width: 1170px;
    padding: 0 60px;
  }
}