@import '../../assets/style_utils/extends';

.section {
  
  &:not(:last-child) {
    margin-bottom: 140px;
  }

  &__title {
    margin-bottom: 50px;

    @extend %H1Text;
    text-align: center;
  }
}