@import './assets/style_utils/reset';
@import './assets/style_utils/mixins';
@import './assets/style_utils/variables';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;

  &__mainContent {
    flex-grow: 1;
    background-color: $backgroundColor;
  }
}

